
<!--
cockpit-ntp
https://gitlab.com/lowswaplab/cockpit-ntp
Copyright 2018 Low SWaP Lab lowswaplab.com
-->

<head>
    <title>NTP</title>
    <meta charset="utf-8">
    <link href="../base1/cockpit.css" type="text/css" rel="stylesheet">
    <script src="../base1/cockpit.js"></script>
</head>
<body>
  <div class="container-fluid">
    <h1> NTP </h1>
    <h2 id="appname"> </h2>
    <p>
      <pre id="output-sources"></pre>
    </p>
    <p>
      <pre id="output-clients"></pre>
    </p>
  </div>

    <script src="ntp.js"></script>
</body>
</html>

